#generalPerson{
    margin: 15% auto;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
}
#formPerson {
    background-image: url('../img/redDead.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 10px 10px 0;
    background-color: rgb(205, 205, 205);
    align-content: center;
    height: 300px;
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}
#paragrafoPerson{
    width: 400px;
    background-color: blueviolet;
    border-radius: 10px 0 0 10px;
}
#paragrafoPerson> h2{
   margin: 0 10px;
}
#paragrafoPerson >h1{
    padding: 0 0 10px 0;
    border-bottom: 1px solid black;
}
#formPerson>button {
    padding: 5px;
    margin-top: 10px;
}
#formPerson> form > button:hover{
   cursor: pointer;
}
#formPerson>input {
   margin-top:2px ;
    border: none;
    outline: none;
    border-radius: 5px;
    opacity: 0.8;
    padding: 5px;
}
#formPerson>button, input{
    padding: 5px 100px;
}
