

/*--------------------------------------------------------*/
#userPerson{display: grid;
grid-template-columns: auto auto;}



.linkPerson{display: grid;
    align-content: center;
    grid-template-columns: auto;
    height: 90px;
    border: solid 1px black;
margin: 20px;}
.linkPerson > a > img {width: 60px ;
height: 60px;
margin-left:20px ;}

