

/*--------------------------------------------------------*/

#generalUserPerson
{   
    background-image: url('../img/cosmic.jpg');
    background-size: cover;
    height: 100vh;
}

#userPerson
{
    justify-content: start;
    display: grid;
    grid-template-columns: auto auto;
}


#linkPersonUser
{   
    width: 320px;
    background-image:url('../img/theSims.jpg') ;
    background-size: cover;
    display: grid;
    align-content: center;
    grid-template-columns: auto;
    height: 120px;
    border: solid 1px black;
    margin: 20px;
}
#linkPersonProfile
{   
    width: 320px;
    background-image:url('../img/acUnity.png') ;
    background-size: cover;
    display: grid;
    align-content: center;
    grid-template-columns: auto;
    height: 120px;
    border: solid 1px black;
    margin: 20px;
}
#linkPersonGame
{   
    width: 320px;
    background-image:url('../img/redDead.jpg') ;
    background-size: cover;
    display: grid;
    align-content: center;
    grid-template-columns: auto;
    height: 120px;
    border: solid 1px black;
    margin: 20px;
}


#linkPersonGenre
{   
    width: 320px;
    background-image:url('../img/theWitcher3.jpg') ;
    background-size: cover;
    display: grid;
    align-content: center;
    grid-template-columns: auto;
    height: 120px;
    border: solid 1px black;
    margin: 20px;
}
#linkPersonUser > a > img 
{  
    width: 110px ;
    height: 110px;
    margin-left:20px ;
}

#linkPersonProfile > a > img 
{
    width: 110px ;
    height: 110px;
    margin-left:20px ;
}


#linkPersonGame > a > img 
{
    width: 110px ;
    height: 110px;
    margin-left:20px ;
}

#linkPersonGenre > a > img 
{
    width: 110px ;
    height: 110px;
    margin-left:20px ;
}

